@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "League Spartan", "sans-serif";

  --color-gray-50: #FAFAFA;
  --color-gray-100: #EFEFEF;
  --color-gray-200: #D8D8D8;
  --color-gray-500: #A0A0A0;
  --color-gray-800: #444444;

  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1440px;
}

@utility text-preset-1 {
  @apply text-5xl font-semibold leading-[90%] -tracking-[2px];
}

@utility text-preset-2 {
  @apply text-[2.5rem] font-semibold leading-none -tracking-[2px];
}

@utility text-preset-3-bold {
  @apply font-bold leading-[140%] tracking-[7px];
}

@utility text-preset-3-semibold {
  @apply text-[1rem] font-semibold leading-none -tracking-[0.7px];
}

@utility text-preset-3-medium {
  @apply font-medium leading-[140%] -tracking-[0.5px];
}

@utility text-preset-4 {
  @apply text-[0.9375rem] font-medium leading-none tracking-[12.5px];
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: var(--font-display);
  line-height: 1;
  font-size: 16px;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}